__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

static/node_modules/
static/npm-debug.log*
static/yarn-debug.log*
static/yarn-error.log*
static/package-lock.json
static/yarn.lock

static/pids
static/*.pid
static/*.seed
static/*.pid.lock

static/coverage/

static/.nyc_output

static/.grunt


static/bower_components
static/.lock-wscript
static/build/Release
static/jspm_packages/
static/.npm
static/.eslintcache
static/.node_repl_history
static/*.tgz
static/.yarn-integrity
static/.cache
static/.parcel-cache
static/.next
static/.nuxt
static/.vuepress/dist
static/.serverless
.vscode/
*.code-workspace

.idea/
*.iws
*.iml
*.ipr
*.sublime-project
*.sublime-workspace

*.swp
*.swo
*~
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

pids/
*.pid
*.seed
*.pid.lock
*.bak
*.backup
*.tmp
*.orig
*~


*.db
*.sqlite
*.sqlite3
static/data/*.tmp
static/data/temp_*
uploads/
temp_uploads/
.cache/
static/.cache/
*.lock
